@page
@model json2csharp.Pages.api.json2csharpModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>json2csharp</title>
</head>
<body>
</body>
</html>
